.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #232a25;
  background-color: white;
  box-shadow: #b6c8a9 5px -2px 10px 0px;
  width: 100%;
  border: 0.5px solid #b6c8a9;
  padding: 10px 20px;
  position: relative;
}

/* Brand styling */
.brand {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  max-width: 2.5em;
}

/* Desktop navigation links */
.links_list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Navigation Links */
.links_list li {
  display: block;
}

.links_list li a {
  display: block;
  padding: 1.5em;
  margin-right: 1em;
  color: #232a25;
  text-decoration: none;
}

/* Active link */
.active {
  background-color: #b6c8a9;
  color: white;
}

/* HAMBURGER BUTTON */
.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #232a25;
}

/* MOBILE RESPONSIVE MENU */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .links_list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: white;
    width: 100%;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }

  /* Show menu when state is open */
  .links_list.open {
    display: flex;
  }

  .links_list li {
    width: 100%;
    padding: 10px 0;
  }

  .links_list li a {
    padding: 10px;
    display: block;
    width: 100%;
  }
}
